{% extends 'base.html.twig' %}

{% macro sortArrow(sortName, sort, sortDirection) %}
    {% if sort == sortName %}
        {% if sortDirection == 'asc' %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 15l6 -6l6 6"></path>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 9l6 6l6 -6"></path>
            </svg>
        {% endif %}
    {% else %}
        <!-- up and down arrow svg -->
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 text-slate-300" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 9l4 -4l4 4"></path>
            <path d="M16 15l-4 4l-4 -4"></path>
        </svg>
    {% endif %}
{% endmacro %}

{% block body %}
    <turbo-frame id="produits-list" data-turbo-action="advance" class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">
                    <a class="d-flex justify-content-between" href="{{ path('app_produits', {
                        ...app.request.query.all(),
                        sort: 'id',
                        sortDirection: sort == 'id' and sortDirection == 'asc' ? 'desc' : 'asc',
                    }) }}">
                        # {{ _self.sortArrow('id', sort, sortDirection) }}
                    </a>
                </th>
                <th scope="col">
                    <a class="d-flex justify-content-between" href="{{ path('app_produits', {
                        ...app.request.query.all(),
                        sort: 'libelle',
                        sortDirection: sort == 'libelle' and sortDirection == 'asc' ? 'desc' : 'asc',
                    }) }}">
                        Libelle {{ _self.sortArrow('libelle', sort, sortDirection) }}
                    </a>
                </th>
                <th scope="col">Catégorie</th>
                <th scope="col">Disponible ?</th>
            </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.categorie.libelle }}</td>
                <td>{{ produit.disponible ? 'oui' : 'non' }}</td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="4">aucun produit</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between px-2">
            <div class="py-2">
                Page {{ produits.currentPage }}/{{ produits.nbPages }}
            </div>
            <div>
                {{ pagerfanta(produits, 'twitter_bootstrap5', { prev_message: 'Précédent', next_message: 'Suivant'}) }}
            </div>
        </div>
    </turbo-frame>
{% endblock %}
