<div{{ attributes }} class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Nombre de produits</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ this.nbProduits }}</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>10 nouveaux produits</li>
                <li>2 produits indisponibles</li>
            </ul>
            <a class="w-100 btn btn-lg btn-primary">Voir tous</a>
        </div>
    </div>
</div>
